[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h5py = "*"
matplotlib = "*"
xarray = {extras = ["io"], version = "*"}
netcdf4 = "*"
h5netcdf = "*"
scipy = "*"
pydap = "*"
zarr = "*"
fsspec = "*"
cftime = "*"
rasterio = "*"
cfgrib = "*"
pooch = "*"
geopandas = "*"
pyproj = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
